<form id="personal-information-form" style="display: none">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Personal Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <label for="last-name">Last Name</label>
      <input type="text" name="last-name">
    </div>
    <div class="medium-3 columns">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name">
    </div>
    <div class="medium-3 columns">
      <label for="middle-name">Middle Name</label>
      <input type="text" name="middle-name">
    </div>
    <div class="medium-3 columns">
      <label for="other-name">Other Name(s)</label>
      <input type="text" name="other-name">
    </div>
  </div>
  <div class="row">
    <div class="medium-5 columns">
      <label for="address">Address</label>
      <input type="text" name="last-name">
    </div>
    <div class="medium-1 columns">
      <label for="apt-number">Apt #</label>
      <input type="text" name="apt-number">
    </div>
    <div class="medium-3 columns">
      <label for="city">City</label>
      <input type="text" name="city">
    </div>
    <div class="medium-1 columns">
      <label for="state">State</label>
      <input type="text" name="state">
    </div>
    <div class="medium-2 columns">
      <label for="zip">Zip Code</label>
      <input type="text" name="zip">
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <label for="dob">Date of Birth</label>
      <input type="text" name="dob">
    </div>
    <div class="medium-3 columns">
      <label for="ssn">SSN</label>
      <input type="text" name="ssn">
    </div>
    <div class="medium-3 columns">
      <label for="email">Email</label>
      <input type="text" name="email">
    </div>
    <div class="medium-3 columns">
      <label for="telephone">Telephone</label>
      <input type="text" name="telephone">
    </div>
  </div>
  <div class="row">
      <div class="medium-6 columns">
         <x-signify></x-signify>
      </div>
  </div>
</form>