<div class="signature-section">
    <section class="input-group">
        <div class="input-line">
            <input type="text" value="Bruce Wayne"/>
        </div>
        <div class="input-line-label">
            Printed Name
        </div>
    </section>

    <section class="input-group">
        <div class="input-line">

        </div>
        <div class="input-line-label">
            Signature
        </div>
    </section>

    <section class="input-group">
        <div class="input-line">
            <input type="date" value=""/>
        </div>
        <div class="input-line-label">
            Date
        </div>
    </section>
</div>